---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogArticle from '../../components/BlogArticle.astro';

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));

  const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <h2 class="text-xl mt-6 mb-4">Posts tagged with <span class="font-medium">{tag}</span>:</h2>
  <div class="grid gap-8 grid-cols-1">
    {posts.map((post: any) => (
      <BlogArticle 
        author={post.frontmatter.author}
        title={post.frontmatter.title}
        paragraph={post.frontmatter.description}
        link={post.url}
        tags={post.frontmatter.tags || 'Blog'}
        avatar={post.frontmatter.avatar}
        date={post.frontmatter.pubDate}
      />
    ))}
  <div/>
</BaseLayout>