---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogArticle from '../components/BlogArticle.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog"
---

<BaseLayout pageTitle={pageTitle}>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{pageTitle}</h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">This is where I will post about my journey learning Astro.</p>
      </div> 
      <div class="grid gap-8 lg:grid-cols-2">
        {allPosts.map((post: any) => (
          <BlogArticle 
            author={post.frontmatter.author}
            title={post.frontmatter.title}
            paragraph={post.frontmatter.description}
            link={post.url}
            tags={post.frontmatter.tags || 'Blog'}
            avatar={post.frontmatter.avatar}
            date={post.frontmatter.pubDate}
          />
        ))}
      </div>  
    </div>
  </section>
</BaseLayout>
